<%- include('./partials/header') %>
    <br>

    <div class="container">


        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="btn btn-info btn-block" href="/allPersonels">Personel Yönetim</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="btn btn-info btn-block" href="/personelEkle">Personel Ekle</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="btn btn-info btn-block" href="/duyuruEkle">Duyuru Yayınla</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="btn btn-info btn-block" href="/allDuyuru">Tüm Duyurular</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="btn btn-info btn-block" href="/dokumanEkle">Doküman Ekle</a>
            </li>

        </ul>

    </div>
    <%- include('./partials/footer') %>