<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">


    <title>Medikar Hastanesi Personel</title>
    <title>Kayıt Ol</title>
</head>
<style>
    body {

        background-color: #B2B1B9;
        display: flex;
    }

    .head {

        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        color: white;
        border-bottom: 1px solid #334756;

    }

    .basliklar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #medikar_logo {
        width: 200px;
        height: 50px;
    }

    #baslik {
        font-size: 1.5rem;
    }

    .container {
        width: 40%;
        height: auto;
        background-color: #2C394B;
        border-radius: 12px;
        margin-top: 15%;
        padding-bottom: 20px;
    }

    form {
        width: 300px;
        color: white;
        margin: 0 auto;
        margin-top: 10px;

    }
</style>

<body>

    <div class="container">
        <div class="head">
            <img id="medikar_logo" src="images/medikar.png" alt="medikar_logo" srcset="">
            <div class="basliklar">
                <h1 id="baslik">Özel Medikar Hastanesi</h1>
                <h2 id="bas">Personel Yönetim</h2>
            </div>
        </div>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                    placeholder="Kullanıcı Adı" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" class="form-control" id="password" placeholder="Şifre" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">Kayıt Ol</button>
        </form>
    </div>




</body>

</html>